{% extends 'base.html' %}

{% block content %}
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<script>
    $(document).ready(function(){
        let toggle_filter = "{{ toggle_filter }}";

        if (toggle_filter === "closed") {
            $('.filter-form').hide();
        }
        
        $(".chosen-select").chosen({});

        $('#toggle-filter-form-btn').click(function() {
            $('.filter-form').toggle();

            if (toggle_filter === "closed") {
                $(this).html('Toggle Filter ▼');
                toggle_filter = "open"
            } else {
                $(this).html('Toggle Filter ▲');
                $('.filter-form').hide();
                toggle_filter = "closed"
            }
        });

        function send_toggle_position(form_id, event_type) {
            return function(event) {
                event.preventDefault(); // Prevent default form submission
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/content_log/toggle_filter', true);
                xhr.setRequestHeader('Content-Type', 'text/plain');
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        if (event_type === 'form') {
                            document.getElementById(form_id).submit();
                        }
                        else if (event_type === 'button_link') {
                            window.location.href = '/content_log/reset_presets';
                        }
                        
                    } else {
                        console.error('Failed to send data');
                    }
                };
                xhr.send(toggle_filter);
            };
        }
        document.getElementById('filter-form').addEventListener('submit', send_toggle_position('filter-form', 'form'));
        document.getElementById('select_columns_form').addEventListener('submit', send_toggle_position('select_columns_form', 'form'));
        document.getElementById('reset_content_log_presets_button').addEventListener('click', send_toggle_position('reset_content_log_presets_button', 'button_link'));

    });
</script>

<div class="container mt-5 mb-5" style="width: 99pc;">
    <div class="row align-items-center">
        <div class="boxshaddow">
            <div class="mb-3" style="text-align: center;"><h1>Content Log</h1></div>
            <button id="toggle-filter-form-btn" class="btn btn-custom ml-4" style="margin-top: 10px;">
                {% if toggle_filter == "open"%}Toggle Filter ▼
                {% else %}Toggle Filter ▲
                {% endif %}
            </button>
            <div class="filter-form">
                <form id="filter-form" method='POST' action="{{ url_for('previous_results') }}" enctype='multipart/form-data' class="mt-4">
                    <div class="ml-5 mr-5 mb-3 d-flex align-items-end">
                        <div style="flex: 1;">
                            <label class="form-label" style="display: block; margin-bottom: 5px;">ID Filter</label>
                            <textarea class="form_input form-control" placeholder="Any..." rows="1" name="id_filter">{{ content_log_presets["id_filter"] }}</textarea>
                        </div>
                        <div style="flex: 1; margin-left: 10px;">
                            <label class="form-label" style="display: block; margin-bottom: 5px;">Product Filter</label>
                            <textarea class="form_input form-control" placeholder="Any..." rows="1" name="product_filter">{{ content_log_presets["product_filter"] }}</textarea>
                        </div>
                        <div style="flex: 1; margin-left: 10px;">
                            <label class="form-label" style="display: block; margin-bottom: 5px;">Content Size Filter</label>
                            <textarea class="form_input form-control" placeholder="Any..." rows="1" name="content_size_filter">{{ content_log_presets["content_size_filter"] }}</textarea>
                        </div>
                        <div style="flex: 1; margin-left: 10px;">
                            <label class="form-label" style="display: block; margin-bottom: 5px;">Date From</label>
                            <input type="date" class="date_previous_results_form" name="date_from_filter" value={{ content_log_presets['date_from_filter'] }}>
                        </div>
                        <div style="flex: 1; margin-left: 10px;">
                            <label class="form-label" style="display: block; margin-bottom: 5px;">Date To</label>
                            <input type="date" class="date_previous_results_form" name="date_to_filter" value={{ content_log_presets['date_to_filter'] }}>
                        </div>
                    </div>
                    <div class="ml-5 mr-5 mb-3 d-flex align-items-end">
                        <div style="flex: 1;">
                            <label class="form-label" style="display: block; margin-bottom: 5px;">Campaign Name</label>
                            <textarea class="form_input form-control" placeholder="Any..." rows="1" name="campaign_name_filter">{{ content_log_presets["campaign_name_filter"] }}</textarea>
                        </div>
                        <div style="flex: 1; margin-left: 10px;">
                            <label class="form-label" style="display: block; margin-bottom: 5px;">Campaign Code</label>
                            <textarea class="form_input form-control" placeholder="Any..." rows="1" name="campaign_code_filter">{{ content_log_presets["campaign_code_filter"] }}</textarea>
                        </div>
                        <div style="flex: 1; margin-left: 10px;">
                            <label class="form-label" style="display: block; margin-bottom: 5px;">Campaign Category</label>
                            <textarea class="form_input form-control" placeholder="Any..." rows="1" name="campaign_category_filter">{{ content_log_presets["campaign_category_filter"] }}</textarea>
                        </div>
                        <div style="flex: 1; margin-left: 10px;">
                            <label class="form-label" style="display: block; margin-bottom: 5px;">Approved</label>
                            <textarea class="form_input form-control" placeholder="Any..." rows="1" name="approval_filter" type="checkbox">{{ content_log_presets["approval_filter"] }}</textarea>
                        </div>
                        <div style="flex: 1; margin-left: 10px;">
                            <label class="form-label" style="display: block; margin-bottom: 5px;">Live</label>
                            <textarea class="form_input form-control" placeholder="Any..." rows="1" name="live_filter" type="checkbox">{{ content_log_presets["live_filter"] }}</textarea>
                        </div>
                    </div>
                    <div class="ml-5 mr-5 mb-3 d-flex align-items-end">
                        <a href="/content_log/reset_presets" class="ml-auto mr-3">
                            <input id="reset_content_log_presets_button" type="button" class="btn btn-custom" value="Reset"/>
                        </a>
                        <div>
                            <button type="submit" class="btn btn-custom ml-3 ml-auto">Filter</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="mb-3 mt-3 d-flex align-items-center">
                <form id="select_columns_form" class="ml-5" method='POST' action="{{ url_for('previous_results') }}">
                    <select data-placeholder="None Selected" multiple class="chosen-select" name="content_log_cols" style="width: 50cap;">
                        <option value=""></option>
                        {% for col in all_content_log_cols %}
                            <option {% if col in selected_cols %}selected="selected"{% endif %} >{{ col }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-custom ml-3">Select Columns</button>
                </form>
                <a href="/content_log/download" class="ml-auto">
                    <input type="button" class="btn btn-custom ml-3 mr-5" value="Download"/>
                </a>
            </div>
            <table id="myTable" class="display">
                {{ table|safe }}
            </table>

            <script>
                $(document).ready( function () {
                    $('#myTable').DataTable();
                } );
            </script>
        </div>
    </div>
</div>

{% endblock %}
