{% extends 'base.html' %}

{% block content %}
    <h1>Input Marketing Idea</h1>
      
    <form method='POST' action=" {{ url_for('index') }} " enctype='multipart/form-data' class="mt-5">
      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label class="form-label">Topic: </label>
          <select class="form-select" name="topic">
            {% for topic in campaign_options %}
              <option>{{ topic }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label class="form-label">Size of material:</label>
          <select class="form-select" name="topic_dropdown">
            {% for size in content_size %}
              <option {% if size=="Medium" %}selected="selected"{% endif %} >{{ size }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label class="form-label">Business size for content:</label>
          <select class="form-select" name="topic_dropdown">
            {% for size in business_size %}
              <option {% if size=="Any" %}selected="selected"{% endif %} >{{ size }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Other details</label>
        <input type="text" class="form-control" name="other_details">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" required="true">
        <label class="form-check-label">I understand each request incurs a cost</label>
      </div>
      <button type="submit" class="btn btn-custom">Submit</button>
    </form>
{% endblock %}
